body {
    font-family: 'Play', sans-serif !important;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul, ol, menu {
    list-style: none;
}
.my_search {
    margin-left: 1rem;
    line-height: 2.5rem;
    font-size: 1.25rem;
}
.my_hero {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: top;
    color: white;
    margin-bottom: 1.7rem;
}

.my_padding-hero {
    padding-top: 300px;
    padding-bottom: 50px;
}

.my_border {
    border-radius: 20px;
}

.hero_carousel {
    margin-bottom: 4.5rem;
}

.my_second_hero {
        background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
        background-size: cover;
        background-position: top;
        color: white;
}

.dark_bg {
    background-color: #1F1F1F;
    color: white;
    margin-bottom: 3.5rem;
}

.ps-plus_hero {
    background-color: #BEBCBB;
}

.ps-plus_hero a {
    color: #0B5ED7;
    font-weight: bold;
}

.ps-now_hero {
    background-color: #161C3B;
    color: white;
}

.social_wrapper {
    margin-left: 20,125rem;
    margin-right: 20,125rem;

}