.my_search {
    line-height: 2.5rem;
    font-size: 1.25rem;
}
.my_hero {
    background-image: url(../img/jumbo-bg.png);
    min-height: 370px;
    background-size: cover;
    background-position: top;
    color: white;
    margin-bottom: 1.7rem;
}

.my_border {
    border-radius: 20px;
}