img {
    
}

.my_search {
    line-height: 2.5rem;
    font-size: 1.25rem;
}
.my_hero {
    background-image: url(../img/jumbo-bg.png);
    min-height: 600px;
    background-size: cover;
    background-position: top;
}